/* 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{ 
   width: 100%;
   max-width: 100%;
  }


/* LAYOUT STYLES */
body {
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-height:100%;
  font-size: 15px;
  line-height: 2.2rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 400;
  color: #666;
  background-color: rgba(112, 183, 241, 1);
  background: #2e7bcf url(../images/header-bg1.jpg) 0 0 repeat;
}

a {
  color: #2879d0;
}
a:hover {
  color: #2268b2;
}
#loading{
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:999;
  background-color: rgba(112, 183, 241, 1);
  width:100%;
  height:500%;
  text-align: center;
}
.loadingTexts{
  margin-top: 30%;
  line-height: 4;
  font-size: 1.2rem;
  font-weight: bold;
}
.loading__anim {
  width: 35px;
  height: 35px;
  display: inline-block;
  border: 5px solid rgba(189,189,189 ,0.25);
  border-left-color: rgba(255, 255, 255);
  border-top-color: rgba(255, 255, 255);
  border-radius:50%  ;
  -webkit-border-radius:50%  ;
  -moz-border-radius:50%  ;
  -ms-border-radius:50%  ;
  -o-border-radius:50%  ;
  animation: rotate 600ms infinite linear;
}
@keyframes rotate {
  to {
   transform: rotate(1turn)
  }
 }

.video_box{
  display: none;
}

header {
  margin: 0 auto;
  width: 75%;
  height: auto;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  position: relative;
  z-index:0;
}

.tab {
  display: table;
  width:100%;
  position:relative;
  z-index:-5;
}
.tab_row{
  display: table-row;
  width:100%;
}
.tab_cell{
  display: table-cell;
  vertical-align: top;
}
.main{
  width:70%;

}
.aside{
  width:30%;
  padding:1.5rem;
}

.bg{
  margin: 0 auto;
  width: 100%;
  background-color: rgb(50, 66, 97);
  top:0%;
  position: fixed;

}
.bg2{
  background: linear-gradient(rgba(50, 66, 97,1) 20%,rgba(91, 132, 214,0.8) )
}
.bg3{
  background-color: rgba(91, 132, 214,0.8);
}
.subtitle{
  color: rgb(245, 38, 66);
  width: auto auto;
  font-size: 1.4rem;
}
.passage{
  color: rgb(151, 205, 255);
  width: auto auto;
  line-height: 3;
}
#headerRow{
  position: relative;
  padding:1rem;
}
.title{
  padding: 0 0 0 0;
  /*background-color: green;*/
  font-size: 1.6rem;
  line-height: 2.2;
  text-align: center;
  font-weight: bold;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  color: white;
  vertical-align: middle;
}
#clock{
  float:left;
  padding: 0 0 0 0;
  font-size:  small;
  margin:0 0.4rem 0 0.4rem;
  /*background-color: red; */
  width:  auto;
  vertical-align: middle;
}

.content-wrapper {
 /* border-top: solid 5px #fff; */
  padding-top: 1%;
  padding-bottom: 1%;
  height: 35rem;
  z-index:-1;
}
.content-wrapper2 {
  /* border-top: solid 5px #fff; */
   padding-top: 1%;
   padding-bottom: 1%;
   height: 65rem;
   z-index:-1;
 }
.content-wrapper_blank {
  /* border-top: solid 5px #fff; */
   padding-top: 1%;
   padding-bottom: 1%;
   height: 10rem;
   z-index:-1;
 }
audio{

  position: fixed;
  z-index: 999;
  position: fixed;
  left: 1em;
  bottom:1em;
  width: 20%;
  display: table-cell;
}
.card{
  /*../images/merry_christmasA3.png*/
  background: url(../images/merry_christmasA3.png) center center no-repeat;
  width:100%;
  height:100%;
  background-size:contain;
}
.card2{
  background: url(../images/tree2.png) center center no-repeat;
  width:100%;
  height:100%;
  background-size:contain;
}
.card3{
  background: url(../images/brown1.png) center center no-repeat;
  width:100%;
  height:100%;
  background-size:contain;
}
.card4{
  background: url(../images/tenor.gif) center center no-repeat;
  width:100%;
  height:100%;
  background-size:contain;
}
.card5{
  background: url(../images/brown3.png) center center no-repeat;
  width:100%;
  height:100%;
  background-size:contain;
}
.card6{
  background: url(../images/brown2.png) center center no-repeat;
  width:100%;
  height:100%;
  background-size:contain;
}
.card7{
  background: url(../images/frozen1.png) center center no-repeat;
  width:100%;
  height:100%;
  background-size:contain;
}

footer {
  color:            #efe5d0;
  text-align:       center;
  padding:          15px;
  margin:           -0.6px 0 0 0;
  font-size:        0.8rem;
  clear:          right;
}
/* COMMON STYLES */

hr {
  height: 1px;
  line-height: 1px;
  margin-top: 1em;
  padding-bottom: 1em;
  border: none;
  background: transparent url('../images/hr.png') 0 0 no-repeat;
}

table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
  font-weight: 500;
}

td {
  border: 1px solid #ebebeb;
  text-align: center; 
  font-weight: 300;
}

form {
  background: #f2f2f2;
  padding: 20px;
  
}


/* GENERAL ELEMENT TYPE STYLES */

#main-content h1 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 2.8em;
  letter-spacing: -1px;
  color: #474747;
} 

#main-content h1:before {
  content: "/";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -0.9em;
}

#main-content h2 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #474747;
} 
#main-content h2:before {
  content: "//";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -1.5em;
}

#main-content h3 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
  color: #474747;
} 
 
#main-content h3:before {
  content: "///";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -2em;
}

#main-content h4 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 15px;
  font-weight: bold;
  color: #474747;
} 

h4:before {
  content: "////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -2.8em;
}

#main-content h5 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 14px;
  color: #474747;
} 
h5:before {
  content: "/////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -3.2em;
}

#main-content h6 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: .8em;
  color: #474747;
} 
h6:before {
  content: "//////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -3.7em;
}
 
a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
  margin-bottom: 20px;
  padding: 0 0 0 30px;
}

ul {
  list-style: disc inside;
  padding-left: 20px;
}

ol {
  list-style: decimal inside;
  padding-left: 3px;
}

dl dd {
  font-style: italic;
  font-weight: 100;
}

/*
footer {
  background: transparent url('../images/hr.png') 0 0 no-repeat;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 13px;
  color: #aaa;
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}
*/
/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* #Media Queries================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
   .inner {
    width: auto;
    height:auto;
  }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .inner {
    width: auto;
    height:auto;
  }
  header h1, header h2 {
    width: 340px;
  }
  header h1 {
    font-size:60px;
  }
  header h2 {
    font-size:30px;
  }
  #main-content {
    width:490px;
  }
  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    content: none;
    padding-right:0;
    margin-left:0;
  }
  .main{
    width:60%;
  }
  .aside{
    width:40%;
    line-height:1.7;
  }
  .title{
    font-size: 1.4rem;
  }
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 768px) {
  .inner {
    width: auto;
  }
  header {
    padding: 2% 0 0 0;
  }
  header .inner {
    position: relative;
  }
  header h1, header h2 {
    width: 100%;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 24px;
  }
  header a.button {
    background-image: none;
    width: auto;
    height: auto;
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    font-size: 13px;
    line-height: 1;
    background-color: #9ddcff;
    color: #2879d0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;                     
    border-radius: 5px;    
  }
  header a.button small {
    font-size: 13px;
    display: inline;
  }
  #main-content,
  aside#sidebar {
    float: none;
    width: 100% ! important;
  }
  aside#sidebar {
    background-image: none;
    margin-top: 20px;
    border-top: solid 1px #ddd;
    padding: 20px 0;
    min-height: 0;
  }
  aside#sidebar a.button {
    display: none;
  }
  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    content: none;
    padding-right: 0;
    margin-left: 0;
  }
  .title{
    font-size:  1rem;
  }
  .main{
    width:60%;
  
  }
  .aside{
    display:none;
    width:40%;
    font-size: 0.4rem;
    line-height:1.2;
    padding: 0 0.5rem;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 582px) and (max-width: 695px) {
  .title{
    font-size: 1rem;
  }
  .main{
    width:100%;
  }
  .aside{
    display:none;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 582px) {
  .title{
    font-size: 0.8rem;
  }
  .main{
    width:100%;
  }
  .aside{
    display:none;
  }
}